html, body, body * {
	color: #303030;
}

button {
	background-color: transparent;
	color: #303030;
	font-weight: 100;
	font-size: 0.8em;
	letter-spacing: 1px;
	margin: 2px;
}

input {
	border-bottom: 1px solid #555 !important;
}

input:focus {
	border-bottom: 1px solid #E87D2B !important;
}