<form 	[ngFormModel]="form"
		#f="ngForm"
		(submit)="saveProfile(f.value)"
		class="match-parent container-flex center">

	<div class="xlarge-pad-bottom animate-slow" 
		 [ngClass]="{'move-up-1in4 invisible':profileSaved}">
		<h1 class="text-xxxl">HELLO</h1>
		<h2>Welcome to <strong>Any.<span class="color-accent-1">Team</span></strong>!</h2>
		<br />
		<br />
		<p class="animate" *ngIf="!profileExisted">what's your name?</p>
		<p class="animate" *ngIf="profileExisted">Is this you?</p>
		<input class="text-xxl" type="text" ngControl="name" placeholder="e.g. John Wick">
		<div class="std-pad">
			<button class="animate-fast" 
					(click)="show()" 
					[ngClass]="{'shrinked':!nameHasValue}">TEAM UP!</button>
		</div>
	</div>

</form>